* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fff4ee;
}
@media screen and (max-width: 800px) {
  body {
    display: none;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

section {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.header {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/hero_top/image copy 26.png");
  background-size: cover;
  .wrapper {
    height: 25%;
  }
  .content_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: #fff;
    h1 {
      font-size: 4vw;
    }
    p {
      text-align: center;
      font-size: 2vw;
    }
  }
}

.members {
  background-image: url("/assets/member/image copy 7.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  h1 {
    font-size: 5vw;

    margin-bottom: 23px;
  }
  .warrper {
    width: 80%;
  }
  .list_member {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    align-items: center;
    height: max-content;

    .item {
      width: calc(50% - 20px);
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 40px;
      background-color: rgb(155, 155, 135);
      border-radius: 10px;
      outline: 3px solid black;
      box-shadow: 8px 9px 0 0 #000000;
      img {
        border: 4px solid white;
        outline: 3px solid black;
        width: 20%;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      .info {
        color: black;
        .name {
          font-size: 2vw;
          font-weight: 900;
        }
        ul {
          padding-left: 30px;
          li {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}

.intro {
  text-align: center;
  font-size: 6vw;
  font-family: cursive;
}

.scroller {
  position: relative;
  width: 100%;
  list-style: none;
  height: calc(30% - 22px);
  .scroller_inner {
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    height: 100%;
  }
  img {
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 20px;
  }
}

.scroller[data-animated="true"] {
}
.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 100s linear infinite;
}

.scroller.revert img:first-child {
  margin-left: -200px;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.top_hero {
  position: relative;
  width: 80vw;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  button {
    display: none !important;
  }
}

.overView_video {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/bg_video.png");
  background-size: cover;
  h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }
  iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
  }
}

.list_section {
  position: fixed;
  bottom: 10%;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    width: 30px;
    aspect-ratio: 1;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    background-color: orange;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#step3 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step3/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step4 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step4/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step5 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step5/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step6 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step6/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step7 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step7/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step8 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step8/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step9 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step9/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


#step10 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step10/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#step11 {
  width: auto;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  background: linear-gradient(180deg, #eaf3f7 0%, rgba(242, 249, 255, 0) 80%);
  background-image: url("/assets/step11/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}